# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio captures folder
captures/

# IntelliJ project files
*.iml
*.iws
.idea/
!.idea/codeStyleSettings.xml
gen-external-apklibs/

# Mac-specific stuff
.DS_Store
